body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#CAA6A6;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h5 {
    color: #803d51;
}